<h2>Sound Clash Event</h2>

<!-- <h3>{{event?.admin.nicknamne}}</h3> -->

<h3>{{event?.admin.nickname}}</h3>

<ul>
  <li *ngFor="let oneTag of event?.tags">
    <p>{{oneTag}}</p>
  </li>
</ul>

<ul>
  <li *ngFor="let oneRound of event?.rounds">

    <h4 *ngIf="!oneRound.isFinal" >Round {{oneRound.roundNumber}}</h4>
    <h4 *ngIf="oneRound.isFinal" >Final Round</h4>

    <p>{{oneRound.genres}} / {{oneRound.style}}</p>
  </li>
</ul>

<div *ngIf="isAnybody && isOpen" >
  <!-- <a href="#">Join in</a> -->
  <button (click)="joinClick()">Join in</button>
</div>

<div *ngIf="isCurrentAdmin" >
  <p>Admin content</p>
</div>

<div *ngIf="isParticipant" >
    <p>Participant content</p>

    <div *ngFor="let oneRound of event?.rounds">
      
      <a *ngIf="!oneRound.isFinal"  [routerLink]="['/set/round', oneRound._id, 'user', userTruc.currentUser._id]" >Create your set for Round {{oneRound.roundNumber}}</a>
      <a *ngIf="oneRound.isFinal" [routerLink]="['/set/round', oneRound._id, 'user', userTruc.currentUser._id]" >Create your Set for the Final Round</a>
      
    </div>

</div>