<div class="now-section">
    <h2 class="brown-text text-darken-3">
        <i class="material-icons deep-orange-text text-darken-4">star</i>
        <i class="material-icons deep-orange-text text-darken-4">star</i>
        <i class="material-icons deep-orange-text text-darken-4">star</i>
        Welcome ina the Arena
        <i class="material-icons deep-orange-text text-darken-4">star</i>
        <i class="material-icons deep-orange-text text-darken-4">star</i>
        <i class="material-icons deep-orange-text text-darken-4">star</i>
    </h2>
    <ul>
        <li *ngFor="let OneEvent of events">
            <div class="now-section-box" >
                <div class="now-section-header">
                    <div class="now-section-header-inner">
                        <h3>{{OneEvent.title}}</h3>
                    </div>
                </div>

                <div class="rounds-display-section">

                  <ul>
                    <li *ngFor="let oneRound of OneEvent.rounds, let roundPos = index">

                      <!-- CURRENT ROUND DISPLAYED ///////////////////////////////////////////////////////////// -->
                      <!-- //////////////////////////////////////////////////////////////////////////////////// -->
                      <div *ngIf="oneRound.status == 'displayed'">
                        <div class="round-title-section">
                          <h3>
                            <i class=" winner-icon material-icons deep-orange-text text-darken-4">star</i>
                            Round {{oneRound.roundNumber}}
                            <!-- Final Round -->
                            <i class=" winner-icon material-icons deep-orange-text text-darken-4">star</i>
                          </h3>
                          <div class="brown-ribbon-g"></div>
                          <div class="brown-ribbon-d"></div>
                        </div>
                        <ul>
                          <li *ngFor="let oneSet of oneRound.sets, let pos = index" class="set-list">
                            <div class="v-sep-20"></div>
                            <div class="v-sep-10"></div>
                            <div class="v-sep-20 tri-beige-h"></div>
                            <div class="v-sep-10"></div>

                            <div class="mix-section">
                              <h5>{{oneSet.selecta.nickname}}</h5>
                              <div class="widget-title-container" [innerHTML]="setHtml[pos] | safeHtml"></div>

                              <div class="game-feedback-section">
                                <!-- <p>+1</p> -->
                                <!-- +1 -->
                              </div>
                            </div>

                            <div class="game-section">

                              <div class="game-actions">
                                <div class="action">
                                  <button class="like" (click)="likeClick(OneEvent._id, oneRound._id, pos)"></button>
                                  <p class="action-nb">{{like}}</p>
                                  <div class="clear-both"></div>
                                </div>
                              
                                <div class="action">
                                  <button class="bullet" (click)="bulletClick(OneEvent._id, oneRound._id, pos)"></button>
                                  <p class="action-nb">{{bullet}}</p>
                                  <div class="clear-both"></div>
                                </div>
                              
                                <div class="action">
                                  <button class="bouse" (click)="bouseClick(OneEvent._id, oneRound._id, pos)"></button>
                                  <p class="action-nb">{{bouse}}</p>
                                  <div class="clear-both"></div>
                                </div>
                                <div class="clear-both"></div>
                              </div>

                            </div>

                            <div class="clear-both"></div>

                            <div class="v-sep-20"></div>
                            <div class="v-sep-20 tri-beige-b"></div>
                            <!-- <div class="v-sep-20"></div>
                            <div class="v-sep-10"></div> -->
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- END OF // CURRENT ROUND DISPLAYED /////////////////////////////////////////////////// -->
              <!-- //////////////////////////////////////////////////////////////////////////////////// -->

              <div class="v-sep-20 clear-both"></div>

              <!-- CLOSED ROUND(S) LINK //////////////////////////////////////////////////////////////// -->
              <!-- //////////////////////////////////////////////////////////////////////////////////// -->
              <ul class="closed-section">
                <div>
                  <li *ngFor="let oneRound of OneEvent.rounds, let roundPos = index">
                    <div class="closed-round-box" [routerLink]="['/archives/event', OneEvent._id, 'round', oneRound._id]" *ngIf="oneRound.status == 'closed'">
                      <div class="closed-round">
                        <h4>Round {{oneRound.roundNumber}} <span class="text-beige">finished</span></h4>
                      </div>
                      <div class="round-winner">
                        <i class=" winner-icon material-icons deep-orange-text text-darken-4">star</i>
                        <h5>Winner is <b>{{OneEvent.winner1.nickname}}</b></h5>
                        <i class=" winner-icon material-icons deep-orange-text text-darken-4">star</i>
                      </div>
                      <div class="clear-both"></div>
                    </div>
                  </li>
                </div>
              </ul>
        </li>
    </ul>

    <div class="ribbon ribbon-g"></div>
    <div class="ribbon ribbon-d"></div>

    <app-chat></app-chat>
</div>