
<div class="now-section">

  <h2>Join the next Sound Clash</h2>
  
  <ul>
      <li *ngFor="let OneEvent of events">
          <div [routerLink]="['/event', OneEvent._id]" class="now-section-box">
              
            <h3>Upcoming Event</h3>

              <ul class="selectas-list">
                  <li *ngFor="let OneSelecta of OneEvent.selectas, let last = last">
                      <p *ngIf="!last">
                          {{OneSelecta.nickname | uppercase}}
                          <br/>
                          <span class="txt-vs deep-orange-text text-darken-4">VS</span>
                      </p>
                      <p *ngIf="last">
                          {{OneSelecta.nickname | uppercase}}
                      </p>
                  </li>
              </ul>
              
          </div>
      </li>
  </ul>
  
</div>
