<!-- <h1>{{title}}</h1> -->

<!-- <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Sass</a></li>
            <li><a href="#">Components</a></li>
        </ul>
        </div>
    </nav>
</div> -->

<div class="navbar-fixed">
    <nav >
        <div class="nav-wrapper deep-orange darken-4">
            <a href="#!" class="brand-logo">Champions in the Arena</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">User account</a></li>
                <li><a *ngIf="!userTruc.currentUser" routerLink="/signup">Sign Up</a></li>
                <li><a *ngIf="!userTruc.currentUser"  routerLink="/login">Log In</a></li>
                <p *ngIf="userTruc.currentUser">{{userTruc.currentUser.nickname}}</p>
                <li><a *ngIf="userTruc.currentUser" (click)="logoutClick()">Log Out</a></li>
            </ul>
            <!-- mobile nav  -->
            <ul class="side-nav" id="mobile-demo">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="#">User account</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="row global-container">
        <!-- Liens boutons  -->
        <div id="colG" class="colG col s12 l2">
            <!-- music-circle -->
            <a class="user-btn btn-floating btn-large waves-effect waves-light deep-orange darken-4 tooltipped" data-position="right" data-tooltip="Your Account"><i class="material-icons">account_circle</i></a>
            <a class="create-btn btn-floating btn-large waves-effect waves-light deep-orange darken-4 tooltipped" data-position="right" data-tooltip="Create a New Sound Clash Event"><i class="material-icons">new_releases</i></a>
            <a class="archives-btn btn-floating btn-large waves-effect waves-light deep-orange darken-4 tooltipped" data-position="right" data-tooltip="Sound Clash Archives"><i class="material-icons">layers</i></a>
            <a class="tunes-btn btn-floating btn-large waves-effect waves-light deep-orange darken-4 tooltipped" data-position="right" data-tooltip="All the Tunes"><i class="material-icons">album</i></a>
            <a class="contact-btn btn-floating btn-large waves-effect waves-light deep-orange darken-4 tooltipped" data-position="right" data-tooltip="Contact Us"><i class="material-icons">message</i></a>
        </div>

        <!-- Contenu  -->
        <div id="colM" class="colM col s12 l7">
            <router-outlet></router-outlet>
        </div>

        <!-- Aside  -->
        <div id="colD" class="colD col s12 l3">

            <!-- <div class="ribbon">
                <div class="ribbon-stitches-top"></div>
                <strong class="ribbon-content"><h1>Coming Soon</h1></strong>
                <div class="ribbon-stitches-bottom"></div>
            </div> -->

            <h3>Coming Soon</h3>
            <div class="aside-container"></div>
            <div class="aside-container"></div>
            <div class="aside-container"></div>

            <h3>Join In</h3>
            <div class="aside-container"></div>
            <div class="aside-container"></div>
        </div>
</div>



