* {
    margin:0;
    padding:0;
}

/* NAV **************************************************************************** */
/********************************************************************************* */
.navbar-fixed .nav-wrapper {
    padding-right:60px;
    /* background-color: #204d72; */
    background: transparent;
    /* background-image: url('../assets/images/craft-paper-bande.png');
    background-repeat: repeat-x;
    background-position: bottom; */
    background-image: url('../assets/images/craft-paper-bande-3.png');
    background-repeat: repeat-x;
    background-position: bottom; 
}
.navbar-fixed {
    height:105px;
}
.navbar-fixed .nav-wrapper {
    height:105px;
}

nav {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    background: transparent;
}

.nav-wrapper a {
    padding-left: 15px;
    padding-right: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    font-size: 1.2em;
    font-weight:300;
    height:90px;
    /* box-sizing: border-box; */
}

.nav-wrapper a:hover {
    /* background-color: rgba(87, 65, 34, 0.15); */
    background-color: #bf360c; 
    background-image: url('../assets/images/red-ribbon-2.png');
    background-position: top left;
    background-repeat: repeat-x;
    box-shadow:0px 3px 8px rgba(0, 0, 0, 0.3);
    /* border-bottom: 8px solid #dcccb5; */
}

.nav-wrapper .nav-user-link {
    /* background-color: #fff; */
    border-left:1px solid #fff;
}

.brand-logo {
    margin-left: 0px; 
    margin-right: 0px;
    /* font-family: 'Oxygen Mono', monospace; */
    font-family: 'Kadwa', serif;
}

.global-container {
    /* background:#ccc; */
    width:auto;
    padding-top:5px;
}

/* COLONNE GAUCHE ***************************************************************** */
/********************************************************************************* */
.global-container .colG {
    /* background: #ddd; */
    height:300px;
    display: none;
    position: relative;
}

.global-container .colG .user-btn {
    margin:0;
    padding:0;
    position: fixed;
    left:70px;
    top:118px;
}

.global-container .colG .create-btn {
    margin:0;
    padding:0;
    position: fixed;
    left:70px;
    top:188px;
}

.global-container .colG .archives-btn {
    margin:0;
    padding:0;
    position: fixed;
    left:70px;
    top:258px;
    background-color: #a99473;
}

.global-container .colG .tunes-btn {
    margin:0;
    padding:0;
    position: fixed;
    left:70px;
    top:328px;
    background-color: #a99473;
}

.global-container .colG .message-btn {
    margin:0;
    padding:0;
    position: fixed;
    left:70px;
    top:398px;
}

.global-container .colG .contact-btn {
    margin:0;
    padding:0;
    position: fixed;
    left:70px;
    top:468px;
}

.global-container .colG .btn-floating i {
    font-size:2.3rem;
}

/* COLONNE CENTRALE *************************************************************** */
/********************************************************************************* */
.global-container .colM {
    /* background: #0f0; */
    /* height:300px; */
    padding-right: 60px;
    /* padding-left: 30px; */
}

/* COLONNE DROITE ***************************************************************** */
/********************************************************************************* */
.global-container .colD {
    /* background: #00f; */
    /* height:300px; */
}

.global-container .colD h3 {
    /* background: #00f; */
    font-family: 'Kadwa', serif;
    color:#bf360c;
    font-size:2rem;
    padding-bottom:15px;
    text-align: left;
    width:80%;
    height:47px;
    overflow: hidden;
    
}

.global-container .colD h3 i {
    font-size:2rem;
    float: left;
    padding:0;
    margin:0; 
    padding-right: 7px;
}

.global-container .colD .aside-container {
    height: 200px;
    width:80%;
    background-color: #ccc;
    margin-bottom:25px;
}




/* MEDIA QUERIES ****************************************************************** */
/********************************************************************************* */
@media (min-width: 990px) {
    .global-container .colG {
        display: block;
    }

    .brand-logo {
        margin-left: 60px; 
        /* margin-right: 40px; */
    }

}


/* FOOTER ************************************************************************* */
/********************************************************************************* */
footer {
    width:auto;
    margin-top:70px;
    height:360px;
    background-image: url('../assets/images/craft-paper-footer.png');
    background-repeat: repeat-x;
    background-position: top;
    overflow: hidden;
}

footer .footer-top {
    width:auto;
    height:230px;
    /* background-image: url('../assets/images/craft-paper-bande-bottom.png'); */
    background-repeat: repeat-x;
    background-position: top;
}

footer .footer-bottom {
    width:auto;
    height:55px;
    /* opacity: 0.75; */
    text-align: center;
    color:#fff;
    padding-top:15px;
}