<div class="now-section">
  <h2 class="brown-text text-darken-3">
      <i class="material-icons deep-orange-text text-darken-4">star</i>
      <i class="material-icons deep-orange-text text-darken-4">star</i>
      <i class="material-icons deep-orange-text text-darken-4">star</i>
      Sound Clash Archives
      <i class="material-icons deep-orange-text text-darken-4">star</i>
      <i class="material-icons deep-orange-text text-darken-4">star</i>
      <i class="material-icons deep-orange-text text-darken-4">star</i>
  </h2>

  <div class="now-section-box" >
    <div class="now-section-header">
        <div class="now-section-header-inner">
            <h3>{{event?.title}}</h3>
        </div>
    </div>

    <div class="rounds-display-section">
      <ul>
          <li *ngFor="let oneRound of event?.rounds, let roundPos = index">
              <div *ngIf="oneRound._id == roundId">
                  <!-- <h3>Round {{oneRound.roundNumber}}</h3> -->

                  <div class="round-title-section">
                    <h3>
                      <i class=" winner-icon material-icons deep-orange-text text-darken-4">star</i>
                      Round {{oneRound.roundNumber}}
                      <!-- Final Round -->
                      <i class=" winner-icon material-icons deep-orange-text text-darken-4">star</i>
                    </h3>
                    <div class="brown-ribbon-g"></div>
                    <div class="brown-ribbon-d"></div>
                  </div>

                  <div>
                    <div class="v-sep-20"></div>
                    <div class="v-sep-20 tri-red-h"></div>
                    <div class="v-sep-10"></div>

                    <h4><span class="deep-orange-text text-darken-4">Winner: </span>{{roundWinner}}</h4>
                    <div class="v-sep-20"></div>

                    <div class="scores-section brown darken-3">
                      <ul>
                        <li *ngFor="let oneScore of scores, let scorePos = index">
                          <p>{{oneScore.selecta}} : {{oneScore.percent}}% <span class="text-beige">({{oneScore.selectaScore}} pts)</span> </p>
                          <div class="scoreBar" [ngStyle]="{ 'width': oneScore.percent + '%' }"></div>
                          <div class="v-sep-10"></div>
                        </li>
                      </ul>

                    </div>

                    <div class="v-sep-20"></div>
                    <div class="v-sep-20 tri-red-b"></div>
                    <div class="v-sep-20"></div>
                  </div>

                  <ul>
                      <li *ngFor="let oneSet of oneRound.sets, let pos = index">
                          <div class="v-sep-20"></div>
                          <div class="v-sep-10"></div>
                          <div class="v-sep-20 tri-beige-h"></div>
                          <div class="v-sep-10"></div>
                          <h5>{{oneSet.selecta.nickname}}</h5>
                          
                          
                          <div class="widget-title-container" [innerHTML]="setHtml[pos] | safeHtml"></div>
                          <div class="game-section">
                            <p>
                              <!-- {{oneSet.description}} -->
                              <b>Observers All Stars</b> - Razor blade dub <em>(7" Observers)</em><br/>
                              <b>W.D. Dale</b> - Detention center <em>(7" Plymouth Hill)</em><br/>
                              <b>Jah Sonny</b> - Natty cool <em>(7" Earthquake)</em><br/>
                              <b>Melford Jackson</b> - Southern Africa <em>(7" Afrik)</em><br/>
                              <b>The Ovations</b> - Too much war <em>(7" LGM international records)</em><br/>
                              <b>Family Man & The Rebel Arms</b> - Eastern Memphis <em>(7" Cobra / Dubstore)</em><br/>
                              <b>Freddie McKay</b> - Your cup is full + Dub <em>(7" Sunpower)</em><br/>
                              <b>Tony Ford</b> - Money make the mare gallop <em>(7" Music Industry)</em><br/>
                              <b>Devon Lyons</b> - Shadow after dark <em>(7" Weed Beat)</em>
                            </p>
                          </div>

                          <div class="v-sep-10"></div>
                          <div class="v-sep-20 tri-beige-b"></div>
                      </li>
                  </ul>
              </div>
          </li>
      </ul>
    </div>
  </div>



  <div class="ribbon ribbon-g"></div>
  <div class="ribbon ribbon-d"></div>

  <app-chat></app-chat>
</div>