<!-- <p>
  home-page works!
</p> -->

<div class="now-section">
    <h2>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        Now in the Arena
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
    </h2>
    <ul>
        <li *ngFor="let OneEvent of events">
            <div class="now-section-box">
                <div class="now-section-header">
                    <div class="now-section-header-inner">
                        <h3>{{OneEvent.title}}</h3>
                    </div>
                </div>
                <ul class="selectas-list">
                    <li *ngFor="let OneSelecta of OneEvent.selectas, let last = last">
                        <p *ngIf="!last">
                            {{OneSelecta.nickname | uppercase}}
                            <br/>
                            <span class="txt-vs deep-orange-text text-darken-4">VS</span>
                        </p>
                        <p *ngIf="last">
                            {{OneSelecta.nickname | uppercase}}
                        </p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="ribbon ribbon-g"></div>
    <div class="ribbon ribbon-d"></div>
</div>

<app-open-event></app-open-event>

<!-- <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FChampionsInTheArena%2Ftest%2F" frameborder="0" ></iframe> -->
<!-- <iframe  src="https://api.mixcloud.com/ChampionsInTheArena/test/embed-html/" frameborder="0" ></iframe> -->
<iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FChampionsInTheArena%2Ftest%2F&amp;hide_cover=1&amp;light=1" frameborder="0"></iframe>